h1 {
    color: rgb(78, 99, 196);
}

* {
    box-sizing: border-box;
}

#labyby {
    display: flex;
    flex-wrap: wrap;
    color: brown;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 98px;
}

/*.entrance{*/
/*    background-image: url("https://m.media-amazon.com/images/I/81dkKe0akYL.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*}*/

/*.exit{*/
/*    background-image: url("https://i.pinimg.com/originals/c2/73/fd/c273fdcf952cf23cf65b0eadb9a6cdf7.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*}*/